@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Mulish&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply flex justify-center items-center min-h-screen flex-col;
}

.guess {
	@apply border border-b-2 rounded-md text-center w-12 h-12
	text-2xl border-gray-200
	focus-within:outline-none focus-within:border-gray-300 focus-within:border-b-[#0076D6];
}

.header {
	@apply text-center mb-5;
}

.header h1 {
	@apply text-4xl font-bold;
}
.header h2 {
	@apply text-lg;
}

.container {
	@apply flex flex-row mt-5 space-x-5;
}

.guesses {
	@apply flex flex-col overflow-y-scroll scrollbar bg-gray-50 border border-gray-200 shadow-md
	h-80 min-w-[10rem] p-3 rounded-md text-center;
}
.guesses span {
	@apply border-b border-gray-400;
}

/* keyboard CSS */
.keyboard {
	@apply grid grid-cols-6 gap-2 grid-flow-row;
	font-family: "Mulish", sans-serif;
}

.keyboard span {
	@apply w-10 h-10 cursor-pointer bg-slate-300 rounded-md
	flex justify-center items-center uppercase hover:bg-slate-400;
}

input[type="checkbox"] {
	@apply rounded border-gray-300 text-indigo-600 shadow-sm cursor-pointer disabled:cursor-not-allowed
	focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200
	focus:ring-opacity-50
	disabled:bg-gray-200 disabled:hover:bg-gray-300;
}

.wordLen {
	@apply bg-gray-100 rounded-md max-w-fit
	flex flex-row;
}
.wordLenInp {
	@apply w-10 h-10 text-black border-none text-center outline-none bg-gray-100
	focus:!outline-0 focus:!outline-none focus:!border-none;
}

.wordLen button {
	@apply w-10 h-10
	flex justify-center items-center uppercase;
}

#char_stats {
	@apply w-60 h-80 overflow-y-auto shadow-md rounded-md p-3
	bg-gray-50 border border-gray-200 scrollbar;
}

.progress {
	@apply flex flex-row items-baseline justify-center w-full;
}

.progress-bar {
	@apply w-full bg-slate-200 h-3 rounded-md inline-block mr-2;
}

.progress-thumb {
	@apply h-3 bg-sky-500 rounded-md;
}

.stats span {
	@apply block;
}

h3.container-name {
	@apply font-semibold tracking-wide text-lg;
	font-family: "Fredoka", sans-serif;
}

.purge {
	@apply border px-4 py-2 rounded-md text-rose-500 border-rose-500 
	text-sm mt-2 cursor-pointer
	hover:text-white hover:bg-rose-500 hover:border-rose-500;
}

span[active] {
	@apply bg-blue-300;
}
